<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">
      Add Group
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="offset-bottom">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large" color="primary">Add Group</ion-title>
    </ion-toolbar>
  </ion-header>


  <form (ngSubmit)="saveNewGroup()" [formGroup]="newGroupForm" padding>
    <ion-list lines="full" class="ion-padding">
      <ion-item>
        <ion-label position="floating">Group Name <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Description <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="description" name="description"></ion-input>
      </ion-item>


      <!-- <ion-item (tap)="selectMember()">
        <ion-label position="floating">Incharge <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required readonly formControlName="memberName" name="memberName">
        </ion-input>
      </ion-item> -->

      <div class="ion-padding-top">
        <ion-button expand="block" type="submit" class="ion-no-margin btn-fill">Add</ion-button>
      </div>

    </ion-list>
  </form>


</ion-content>