<ion-content class="ion-padding-start ion-padding-end">
    <ion-refresher slot="fixed" (ionRefresh)="loadData($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <ion-row class="main-row">
        <ion-col size="3">
            <ion-item lines="none">
                <ion-label position="floating">From</ion-label>
                <ion-datetime [(ngModel)]="from"></ion-datetime>
            </ion-item>
        </ion-col>

        <ion-col size="3">
            <ion-item lines="none">
                <ion-label position="floating">To</ion-label>
                <ion-datetime [(ngModel)]="to"></ion-datetime>
            </ion-item>
        </ion-col>

        <ion-col size="3">
            <ion-item lines="none">
                <ion-label position="floating">WorkStation</ion-label>
                <ion-select interface="popover" placeholder="WorkStation" [(ngModel)]="workStation">
                    <ion-select-option value="{{ws}}" *ngFor="let ws of _workStations">{{ws}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>

        <ion-col size="3">
            <ion-item lines="none">
                <ion-label position="floating">Factory</ion-label>
                <ion-select interface="popover" placeholder="Factory" [(ngModel)]="factory">
                    <ion-select-option value="{{f}}" *ngFor="let f of _factory">{{f}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-col>
    </ion-row>

    <ion-button class="ion-padding-start" (click)="loadData()">Filter</ion-button>

    <ion-button class="ion-padding-start" fill="outline" (click)="reset()">Reset</ion-button>

    <ion-list class="main-list" lines="full">

        <div *ngFor="let user of list">
            <div class="chartHeader">
                user: {{user.key}}
            </div>
            <ion-row class="gridHeader">
                <ion-col size="1">
                    <ion-label>S.No</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>Created</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>User</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>WorkStation</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>Former</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>Size</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>Factory</ion-label>
                </ion-col>
                <ion-col size="2">
                    <ion-label>Firing/Rework</ion-label>
                </ion-col>
                <ion-col size="2">
                    <ion-label>Defect</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>Status</ion-label>
                </ion-col>
            </ion-row>
            <ion-row *ngFor="let item of user.data" (click)="openItem(item)" class="row click">
                <ion-col size="1">
                    <ion-label>{{item.serialNumber}}</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>{{formatDateTime(item.createdDateTime)}}</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>{{item.user}}</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>{{item.workStation}}</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>{{item.typeOfFormer}}</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>{{item.size}}</ion-label>
                </ion-col>
                <ion-col size="1">
                    <ion-label>{{item.factory}}</ion-label>
                </ion-col>
                <ion-col size="2">
                    <ion-label>{{item.firingOrRework}}</ion-label>
                </ion-col>
                <ion-col size="2">
                    <ion-chip color="{{getColor(item)}}" class="chip">
                        <ion-label>{{item.defectDetails}}</ion-label>
                    </ion-chip>
                </ion-col>
                <ion-col size="1">
                    <ion-chip color="{{item.quality === 'accept' ? 'success' : 'danger'}}" class="chip flot-right">
                        <ion-label>{{item.quality}}</ion-label>
                    </ion-chip>
                </ion-col>
            </ion-row>
        </div>
    </ion-list>

</ion-content>