.chip {
  margin-top: -5px;
}

.row {
  padding: 10px 0;
  border-bottom: 1px #b0b0b0 solid;
}

.main-list {
  padding: 20px 5px;
}
.chartHeader
{
  text-align: center;
    font-size: 16px;
    padding: 10px;
    background: gainsboro;
    text-transform: uppercase;
    margin-top:20px;
}
.gridHeader{
  background: #222428;
  font-size: 13px;
  color: #fff;
  height: 28px;
}