<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="loadDate($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>

    <ion-list class="main-list" lines="full">

        <ion-row *ngFor="let item of list" class="row click" (click)="openItem(item)">
            <ion-col size="1">
                <ion-label>S.No: {{item.SerialNo}}</ion-label>
            </ion-col>
            <ion-col size="2">
                <ion-label>{{formatDateTime(item.Date)}}</ion-label>
            </ion-col>
            <ion-col size="1">
                <ion-label>{{item.User}}</ion-label>
            </ion-col>
            <ion-col size="1">
                <ion-label>{{item.Former}}</ion-label>
            </ion-col>
            <ion-col size="1">
                <ion-label>{{item.Size}}</ion-label>
            </ion-col>
            <ion-col size="1">
                <ion-label>{{item.Factory}}</ion-label>
            </ion-col>
            <ion-col size="1" *ngIf="!item.Accept">
                <ion-label>{{item.FiringType}}</ion-label>
            </ion-col>
            <ion-col size="1" *ngIf="!item.Accept">
                <ion-chip color="warning" class="chip">
                    <ion-label>{{item.DefectType}}</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col *ngIf="item.Accept" size="{{item.Accept ? 5 : 0}}">
                <ion-chip color="success" class="chip flot-right">
                    <ion-label>Accept</ion-label>
                </ion-chip>
            </ion-col>
            <ion-col *ngIf="!item.Accept" size="{{item.Accept ? 0 : 3}}">
                <ion-chip color="danger" class="chip flot-right">
                    <ion-label>Rejected</ion-label>
                </ion-chip>
            </ion-col>
        </ion-row>
    </ion-list>

</ion-content>