<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-title class="text-center" color="primary">
      <div class="app-header">
        <img slot="start" class="logo" src="../../../assets/icon/favicon.png" />
        <span> {{isNew? 'SignUp' : 'Edit'}}</span>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="offset-bottom">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large" class="text-center" color="primary">
        <div class="app-header">
          <img slot="start" class="logo" src="../../../assets/icon/favicon.png" />
          <span> {{isNew? 'SignUp' : 'Edit'}}</span>
        </div>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding-top text-center" *ngIf="isNew">
    <ion-text color="primary">Welcome to Health Tracker</ion-text>
  </div>

  <ion-item *ngIf="isNew">
    <ion-label class="text-wrap">
      <p slot="start">You will be part of {{orgName}} under {{groupName}}</p>
    </ion-label>
  </ion-item>

  <form [formGroup]="userForm" padding>
    <ion-list lines="full" class="ion-padding">
      <ion-item>
        <ion-label position="floating">Name <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="name" name="name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Email Id / Employee Id<ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="text" formControlName="emailId" name="emailId"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="password" formControlName="password" name="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirm Password <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="password" formControlName="cPassword" name="cPassword"></ion-input>
        <small *ngIf="of.cPassword.dirty && of.cPassword.errors?.mustMatch" class="control-error">
          Passwords must match
        </small>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Date of Birth <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-datetime formControlName="dateOfBirth" name="dateOfBirth"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Address </ion-label>
        <ion-textarea formControlName="address" name="address"></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Phone Number <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-input required type="number" formControlName="phoneNumber" name="phoneNumber"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Nationality</ion-label>
        <ionic-selectable formControlName="nationality" name="nationality" [items]="nationalities"
          itemValueField="alpha2" itemTextField="name" [canSearch]="true">
          <ng-template ionicSelectableCloseButtonTemplate>
            <ion-icon name="arrow-back"></ion-icon>
          </ng-template>
        </ionic-selectable>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Role description </ion-label>
        <ion-input type="text" formControlName="roleDescription" name="roleDescription"></ion-input>
      </ion-item>

      <ion-item class="ion-padding-top" *ngIf="false">
        <ion-label>Infected previously</ion-label>
        <ion-toggle formControlName="infected" name="infected" color="warning"></ion-toggle>
      </ion-item>

      <ion-item *ngIf="userForm.value.infected">
        <ion-label position="floating">From Date <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-datetime required formControlName="fromDate" name="fromDate"></ion-datetime>
      </ion-item>

      <ion-item *ngIf="userForm.value.infected">
        <ion-label position="floating">To Date <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-datetime required formControlName="fromDate" name="fromDate"></ion-datetime>
      </ion-item>

    </ion-list>
  </form>

  <div class="ion-padding">
    <ion-button expand="block" type="submit" class="ion-no-margin btn-fill" (tap)="saveUser()">Save</ion-button>
  </div>

</ion-content>