<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">
      About Us
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="offset-bottom">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large" color="primary">About Us</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="temp-container">
    <ion-icon name="hourglass-outline"></ion-icon>
    <ion-text>We are building this page!</ion-text>
  </div>

</ion-content>