<ion-content>

  <ion-item lines="none">

    <ion-grid class="main-grid">
      <!-- <ion-row class="main-row">

        <ion-col>
          <ion-item>
            <ion-label position="floating">Date <ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-datetime placeholder="Select Date"></ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item lines="none">
            <ngx-avatar value="U" slot="start" size="40"></ngx-avatar>
            <ion-label>User1</ion-label>
          </ion-item>
        </ion-col>

      </ion-row> -->


      <ion-row class="main-row">

        <ion-col>
          <ion-item>
            <ion-label style="text-align: center;">Serial No: 1</ion-label>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label style="text-align: center;">Date: 20-Feb-2020</ion-label>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label style="text-align: center;">User: User1 </ion-label>
          </ion-item>
        </ion-col>

       

      </ion-row>

      <ion-row class="main-row">
       
        <ion-col>
          <ion-item class="main-item">
            <ion-label position="floating">Type Of Formers<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="UGPT">UGFT</ion-select-option>
              <ion-select-option value="UGPT">UGPT</ion-select-option>
              <ion-select-option value="GPT">GPT</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item>
            <ion-label position="floating">Size<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="XS">XS</ion-select-option>
              <ion-select-option value="S">S</ion-select-option>
              <ion-select-option value="M">M</ion-select-option>
              <ion-select-option value="XS">L</ion-select-option>
              <ion-select-option value="S">L1</ion-select-option>
              <ion-select-option value="M">XL</ion-select-option>
              <ion-select-option value="M">XL2</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="main-item">
            <ion-label position="floating">Factory<ion-text color="danger">*</ion-text>
            </ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="f">F01</ion-select-option>
              <ion-select-option value="m">F02</ion-select-option>
              <ion-select-option value="f">F03</ion-select-option>
              <ion-select-option value="m">F04</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <ion-col>
          <ion-item class="main-item">
            <ion-label position="floating">Firing / Re-Work </ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="f">Firing 1</ion-select-option>
              <ion-select-option value="m">Rework 1</ion-select-option>
              <ion-select-option value="f">Rework 2</ion-select-option>
              <ion-select-option value="m">Rework 3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>

        <!-- <ion-col>
          <ion-item>
            <ion-label position="floating">Defect Type </ion-label>
            <ion-select placeholder="Select One">
              <ion-select-option value="f">PinHole</ion-select-option>
              <ion-select-option value="m">SPM</ion-select-option>
              <ion-select-option value="m">FB</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col> -->

      </ion-row>

      <ion-row class="main-row">
        <ion-col>
          <ion-button expand="full" size="large" color="warning">PinHole</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" size="large" color="warning">SPM</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" size="large" color="warning">FB</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" size="large" color="warning">FR</ion-button>
        </ion-col>
      </ion-row >

      <ion-row class="main-row">
        <ion-col>
          <ion-button expand="full" size="large" color="warning">GC</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" size="large" color="warning">BS</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" size="large" color="warning">Crackline</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" size="large" color="warning">Others</ion-button>
        </ion-col>
      </ion-row >
      
      <ion-row class="main-row">

        <ion-col>
          <ion-button expand="full" size="large" color="primary">Accept</ion-button>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-item>

</ion-content>