<ion-content [fullscreen]="true" class="offset-bottom">

  <form (ngSubmit)="loadDashboard()" [formGroup]="groupDashboardForm" padding>
    <ion-list lines="full" class="ion-padding">

      <ion-item>
        <ion-label>Date <ion-text color="danger">*</ion-text>
        </ion-label>
        <ion-datetime formControlName="date" placeholder="Select Date"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label position="floating"> Group <ion-text color="danger">*</ion-text>
        </ion-label>

        <ionic-selectable formControlName="group" name="group" [items]="groups" itemValueField="teamId"
          itemTextField="name" [canSearch]="true">
          <ng-template ionicSelectableCloseButtonTemplate>
            <ion-icon name="arrow-back"></ion-icon>
          </ng-template>
        </ionic-selectable>
      </ion-item>

      <div class="ion-padding-top">
        <ion-button expand="block" type="submit" class="ion-no-margin btn-fill">Load Dashboard</ion-button>
      </div>

    </ion-list>
  </form>

  <ion-card *ngFor="let r of dashboardData;">

    <ion-card-content class="member-card">
      <ion-icon name="checkmark-outline" color="primary" *ngIf="!resolveStatus(r.dayMeasure?.healthMeasures)">
      </ion-icon>
      <ion-icon name="alert-outline" color="warning" *ngIf="resolveStatus(r.dayMeasure?.healthMeasures)"></ion-icon>
      <ngx-avatar value="{{r.user.name[0]}}" slot="start" size="35"></ngx-avatar>
      <div class="name-container">
        <ion-label>{{r.user.name}}</ion-label>
        <br />
        <ion-label>{{r.user.email}}</ion-label>
        <ul>
          <li *ngFor="let t of r.dayMeasure?.healthMeasures">{{t.temperature}} {{t.temperatureUnit}}</li>
          <li *ngFor="let d of dummy | slice:0:(dummy.length - (r.dayMeasure?.healthMeasures?.length || 0))"> - </li>
        </ul>
      </div>
    </ion-card-content>


  </ion-card>

</ion-content>