.divider {
  min-height: 15px;
}

.slot-row {
  background-color: #26b899;
  text-align: center;
  padding: 5px 0;

  ion-label {
    color: #fff;
  }
}

.status-text {
  font-size: 18px !important;
}
