<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="offset-bottom">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large" color="primary">Profile</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">

    <ion-row *ngIf="user !== null">
      <ion-col size="12" class="ion-text-right">
        <ion-icon (tap)="editUser()" name="pencil" class="action-icon" hidden></ion-icon>
      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <ion-icon name="person-circle-outline" class="profile-icon"></ion-icon>
      </ion-col>

      <ion-col size="12" class="ion-text-center">
        <ion-text>{{user.name}}</ion-text>
      </ion-col>

      <ion-col size="12" class="ion-text-center ion-padding-top">
        <ion-note>{{user.nationality}}</ion-note>
      </ion-col>

      <ion-item-divider class="divider"></ion-item-divider>

      <ion-col size="12" class="ion-text-center ion-padding-top">
        <ion-note>{{user.email}}</ion-note>
      </ion-col>

      <ion-col size="12" class="ion-text-center ion-padding-top">
        <ion-note>{{user.phoneNumber}}</ion-note>
      </ion-col>

      <ion-col size="12" class="ion-text-center ion-padding-top">
        <ion-note>{{dateFormat(user.dateOfBirth)}}</ion-note>
      </ion-col>

      <ion-col size="12" class="ion-text-center ion-padding-top">
        <ion-note class="ion-padding-start ion-padding-end">{{user.address}}
        </ion-note>
      </ion-col>

    </ion-row>

  </div>

</ion-content>