.welcome-text {
  font-size: 20px;
}

.border {
  border: 1px solid #d7d8da !important;
  border-radius: 12px;
}

.label-text {
  font-size: 20px;
}

ion-checkbox {
  --checkmark-color: #fff !important;
}

.thermo-icon {
  font-size: 30px;
}

.temp-label {
  margin-bottom: 10px;
}

