<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">
      Slot {{slotsService.count}} - {{ slotsService.count === 1 ? 'AM' : 'PM'}}
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="offset-bottom">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large" color="primary">Slot 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>

    <ion-row class="ion-padding-start ion-padding-end">

      <ion-col size="12">
        <div class="ion-text-center ion-padding-top ion-padding-bottom">
          <ion-label class="font-md">Temprature in {{celciusOrFarenheat}}</ion-label>
          <ion-icon name="thermometer-outline" class="thermo-icon" color="primary"></ion-icon>
        </div>

        <ion-input [(ngModel)]="temprature" name="temprature" type="number" class="border ion-text-center">
        </ion-input>
      </ion-col>

    </ion-row>

    <h3 class="no-bottom-margin ion-padding-top ion-padding-bottom ion-text-center welcome-text">
      How are you feeling today?</h3>

    <ion-item>
      <ion-label>I Feel Good</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="selectNone" (ionChange)="onSelectNone($event.detail.checked)">
      </ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Difficulty Breathing</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="difficultBreathing" (ionChange)="clearNone($event.detail.checked)">
      </ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Cough</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="cough" (ionChange)="clearNone($event.detail.checked)"></ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Cold</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="cold" (ionChange)="clearNone($event.detail.checked)"></ion-checkbox>
    </ion-item>

    <ion-item lines="none">
      <ion-label>Sore Throat</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="soreThroat" (ionChange)="clearNone($event.detail.checked)"></ion-checkbox>
    </ion-item>
  </ion-card>

  <div class="ion-padding">
    <ion-button expand="block" class="ion-no-margin btn-fill" (tap)="save()">Save</ion-button>
  </div>

</ion-content>