.main-grid {
  padding: 20px 20px 0;
}

.main-row {
  padding: 5px 0;
}

.chart-bar {
  padding: 0 25px;
}
.chartHeader
{
  text-align: center;
    font-size: 16px;
    padding: 10px;
    background: gainsboro;
    text-transform: uppercase;
    margin-top:20px;
}