app-measure-card {
  color: #000;
}

.add-button {
  --color: #fff !important;
}

.today-text {
  font-size: 18px !important;
}

.text-centre {
  text-align: center;
}

.time-control {
  margin-left: -15px;
}

.time-label {
  padding-top: 10px;
}

.action-icon {
  font-size: 20px;
}

.main-grid {
  border: #eee solid;
  padding: 30px 15px;
}

.main-row {
  padding: 25px 0;
}

.main-item {
  padding: 0 20px 0 0;
}
